#footer {
    border-top: 1px solid #f4e4cf;
    padding-top: 20px;
    margin-top: 100px;
    margin-bottom: 30px;
}

.footer__social-medias__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background: #f4e4cf;
}

.footer__social-medias__icon svg {
    color: black;
}